# Rust
/target/
**/*.rs.bk
*.pdb
**/target/
**/node_modules/
/conf/

# Cargo
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
**/dist

**/*.db


# OS
.DS_Store
Thumbs.db

# Logs
/logs/
*.log

# Build
/dist/
/build/

# Environment
.env
.env.local

.deveco
.claude